body{
    box-sizing: border-box;
}
h1{
    color: red;
    text-align: center;
}
#s1{
    background-color: cadetblue;
}
#s2{
    background-color: coral;
}
#s3{
    background-color: plum;
}

@media (min-width:992px){
    #column{
        width: 28%;
        padding: 5px;
        border: 1px solid black;
        margin: 2px;
        float: left;
    }
    .row::after{
        content:"";
        display: table;
        clear:both;
    }

}

