body{
    box-sizing: border-box;
}
h1{
    color: red;
    text-align: center;
}
section{
    width: 28%;
    padding: 5px;
    border: 1px solid black;
    margin: 2px;
}
#s1{
    background-color: salmon;
    float: right;
}
#s2{
    background-color: skyblue;
}
#s3{
    background-color: violet;
    position: absolute;
}
